  <!-- Loading animation -->
  <div class="preloader">
    <div class="preloader-animation">
      <div class="preloader-spinner">
      </div>
    </div>
  </div>
  <!-- /Loading animation -->

  <div id="page" class="page">
    <!-- Header -->
    <header id="site_header" class="header mobile-menu-hide">
      <div class="header-content">
        <div class="site-title-block mobile-hidden">
          <div class="site-title">Ruben <span>Moyano</span></div>
        </div>

        <!-- Navigation -->
        <div class="site-nav">
          <!-- Main menu -->
          <ul id="nav" class="site-main-menu">
            <li>
              <a class="pt-trigger" href="#home" data-animation="62">Inicio</a>
              <!-- href value = data-id without # of .pt-page. -->
            </li>
            <!-- <li>
              <a class="pt-trigger" href="#resume" data-animation="62">Resumen</a>
            </li>
            <li>
              <a class="pt-trigger" href="#services" data-animation="62">Servicios</a>
            </li>
            <li>
              <a class="pt-trigger" href="#portfolio" data-animation="62">Portafolio</a>
            </li>
            <li>
              <a class="pt-trigger" href="#blog" data-animation="62">Blog</a>
            </li>
            <li>
              <a class="pt-trigger" href="#contact" data-animation="62">Contacto</a>
            </li> -->
          </ul>
          <!-- /Main menu -->
        </div>
        <!-- Navigation -->
      </div>
    </header>
    <!-- /Header -->

    <!-- Mobile Header -->
    <div class="mobile-header mobile-visible">
      <div class="mobile-logo-container">
        <div class="mobile-site-title">Ruben Moyano</div>
      </div>

      <a class="menu-toggle mobile-visible">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!-- /Mobile Header -->

    <!-- Main Content -->
    <div id="main" class="site-main">
      <!-- Page changer wrapper -->
      <div class="pt-wrapper">
        <!-- Subpages -->
        <div class="subpages">

          <!-- Home Subpage -->
          <section class="pt-page" data-id="home">
            <div class="section-inner start-page-content">
              <div class="page-header">
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                      <img src="assets/images/photo.png" alt="">
                    </div>
                  </div>

                  <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="title-block">
                      <h1>Rubén Moyano</h1>
                      <div class="owl-carousel text-rotation">
                        <div class="item">
                          <div class="sp-subtitle">Desarrollador</div>
                        </div>
                        <div class="item">
                          <div class="sp-subtitle">FullStack Jr.</div>
                        </div>
                      </div>
                    </div>

                    <div class="social-links">
                      <a href="https://www.linkedin.com/in/rubenmoyano/" target="_blank"><i class="fa fa-linkedin"></i></a>

                      <a href="https://www.instagram.com/rubemoyano/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="page-content">
                <div class="row">

                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="about-me">
                      <div class="block-title">
                        <h3>Acerca <span>de mi</span></h3>
                      </div>
                      <p>Desarrollador de sitios web, aspirante a Desarrollador FullStack, realizador de producciones audiovisuales, creacion de
                      contenido multimedia, edición de video y animaciones, preparación, producción, transmisión de programas y entrevistas
                      online en vivo y grabadas.</p>
                    </div>
                    <!-- <div class="download-resume">
                      <a href="" class="btn btn-secondary">Descargar CV</a>
                    </div> -->
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <ul class="info-list">
                      <li><span class="title">Residencia</span><span class="value">Chile</span></li>
                      <li><span class="title">Dirección</span><span class="value">El Monte, Chile</span></li>
                      <li><span class="title">e-mail</span><span class="value"><a
                            href="mailto:contacto@persei.cl">contacto@persei.cl</a></span></li>
                      <li><span class="title">Teléfono</span><span class="value">+569 49443189</span></li>
                      <li><span class="title">Freelance</span><span class="value available">Available</span></li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="section-inner custom-page-content">
                <div class="page-content">
              
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Educación</h3>
                        </div>
              
                        <div class="timeline">
                          <!-- Education 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Ingeniería en Informática y Gestión</h4>
                            <span class="item-period">2021 - Presente</span>
                            <span class="item-small">Universidad Diego portales</span>
                            <p class="item-description">Mauris magna sapien, pharetra consectetur fringilla vitae,
                              interdum sed tortor.</p>
                          </div>
                          <!-- / Education 1 -->
              
                          <!-- Education 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Técnico de Nivel Superior en Programación</h4>
                            <span class="item-period">2018 - 2021</span>
                            <span class="item-small">Universidad Diego portales</span>
                            <p class="item-description">Mauris magna sapien, pharetra consectetur fringilla vitae,
                              interdum sed tortor.</p>
                          </div>
                          <!-- / Education 2 -->
              
                          
                        </div>
                      </div>
                    </div>
              
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Experiencia Laboral</h3>
                        </div>
              
                        <div class="timeline">
                          <!-- Experience 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">FullStack Jr. developer</h4>
                            <span class="item-period">May 2022 - Presente</span>
                            <span class="item-small">Banco Estado</span>
                            <p class="item-description">En BancoEstado ocupo el cargo de programador jr. FullStack desarrollando componentes en
                              tecnologías como Typescript,
                              Angular, NodeJS, API REST.</p>
                          </div>
                          <!-- / Experience 1 -->
                        
                          <!-- Experience 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Frontend Jr. developer</h4>
                            <span class="item-period">Oct 2021 - Abr 2022</span>
                            <span class="item-small">Banco Estado</span>
                            <p class="item-description">En BancoEstado ocupaba el cargo de programador jr. Front, desarrollando distintos
                              componentes en AEM de Adobe, en
                              tecnologías como typescript y SCSS.</p>
                          </div>
                          <!-- / Experience 2 -->
                        
                          <!-- Experience 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Desarrollo, Soporte y Producciòn Audiovisual</h4>
                            <span class="item-period">2016 - 2021</span>
                            <span class="item-small">Independiente</span>
                            <p class="item-description">Desarrollo de sitios web a distintas empresas y personas naturales. Diseño Grafico y
                              producciones audiovisuales.
                              (Clinica Maitenes)
                              Producción Audiovisual. (Canal Mapocho)
                              Director, productor y montajista en Canal Mapocho, canal audiovisual en internet dedicado a la cultura,
                              información y
                              entretención.</p>
                          </div>
                          <!-- / Experience 3 -->

                          <!-- Experience 4 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Analista de Desarrollo y Soporte</h4>
                            <span class="item-period">2015</span>
                            <span class="item-small">MB&B Computación</span>
                            <p class="item-description">En MB&B Computación me desempeñé como Analista de desarrollo y soporte técnico dando soporte presencial y remoto a
                            empresas dentro de Santiago como en regiones, en rubros como Minimarket, Supermercados, Restaurant, Comida Rápida,
                            Comercio Mayorista, etc.</p>
                          </div>
                          <!-- / Experience 4 -->

                          <!-- Experience 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Asistente de Ingeniería y Mantenimiento</h4>
                            <span class="item-period">2011- 2014</span>
                            <span class="item-small">Quad/Graphics Chile S.A.</span>
                            <p class="item-description">En Quad/Graphics me desempeñaba como administrador del sistema de control de repuestos y servicios del dpto. velando por
                            la eficiente información del sistema, generando informes semanales, mensuales y anuales sobre los gastos del dpto.
                            generando a la vez rendiciones de facturas hacia contabilidad ingresándolas al sistema ERP FIN700, experiencia con
                            proveedores solicitando cotizaciones, generando órdenes de compra, coordinando servicios y generando ordenes de trabajo
                            internas.
                            Implementacion de sistema de consultas SQL a bases de datos para una mejora en la entrega de informes mensuales.</p>
                          </div>
                          <!-- / Experience 5 -->

                          <!-- Experience 6 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Ayudante Planificación y Control</h4>
                            <span class="item-period">2010</span>
                            <span class="item-small">Quad/Graphics Chile S.A.</span>
                            <p class="item-description">En Planificación y Control estaba encargado de la planificación, coordinación y registro de móviles para la entrega de
                            material a V°B° al cliente para su posterior paso a preimpresión.</p>
                          </div>
                          <!-- / Experience 6 -->

                        </div>
                      </div>
                    </div>
                  </div>
              
                </div>
              </div>

            </div>

              

          </section>
          <!-- End of Home Subpage -->

        </div>
      </div>
      <!-- /Page changer wrapper -->
    </div>
    <!-- /Main Content -->
  </div>


<router-outlet></router-outlet>